  body {
    font-family: "inter";
    font-style: normal;
    background: #E5E5E5;
}

.surat{
    cursor: pointer;
    transition: all 1s;
}
.surat:hover{
    transform: scale(1.1);
}

.category{
    cursor: pointer;
}

.category:hover{
    transform: scale(1.1);
}

#btn-back-to-top {
    position: fixed;
    border-radius: 4px;
    bottom: 20px;
    height: 5rem;
    width: 5rem;

}

.category{
    border-radius: 6px 0px 0px 6px;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    
    background-image: url('../asset/img/ld.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}


.main {
    padding: 0px 10px;
}
.login-form h2{
    color: #FFBE4B;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 20px;

}
.login-form h3{
    color: #254C9A;
    font-size: 32px;
    font-weight: 300;
}
.form-group{
   font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #7A7A7A;
}
.form-group p{
    font-size: 16px;
line-height: 19px;
color: #2C5282;
}
.form-control{
    height: 40px;
}

 .info{
margin-top:30%;
text-align: center;
}

.info p{
font-weight: 300;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.02em;
color: #616161;
}
.login-form form{
        margin-top: 15%;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;}
    
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 55%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 30%;
    }


}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
    
    
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    height: 45px;
   background-color: #20284C;
        width: 100%;
        color: #fff
}
